<table>
    <tr>
        <th>
            <h1>Friday CI - Lite</h1>
        </th>
        <th>
            <div>
                <form action="<%=locals.basePath%>logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </th>
    </tr>
</table>